.jumbotron {
  background-color: #b32d00;
}

header {
  color: white;
}

footer {
  margin-top: 10px;
  color: white;
}

nav a {
  background-color: #b32d00;
  color: white;
  padding: 8px;
  border: thin solid black;
  text-align: center;
  display: block;
  margin: 20px;
  width: 150px;
  float:left;
}

.clear-float {
  clear:both;
}

a:hover {
  font-weight: bold;
  color: white;
  text-decoration: none;
}
